html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}
.loading .container {
  position: relative;
  width: 259px;
  height: 84px;
}
.loading .container span:first-child {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/loading-container.png") no-repeat;
}
.loading .container span:last-child {
  position: absolute;
  top: 20px;
  width: 0;
  height: 45px;
  left: 7px;
  background: url("../images/loading-progress.png") left center no-repeat;
}
.loading .text {
  width: 55px;
  height: 253px;
  background: url("../images/loading-txt.png") no-repeat;
}
#bgmusic {
  position: fixed;
  left: -1000%;
  top: -100%;
}
.switcher {
  position: fixed;
  width: 118px;
  height: 121px;
  right: 20px;
  top: 900px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url("../images/play.png") no-repeat;
  -webkit-animation: scaleAnim 1s ease-in-out infinite;
          animation: scaleAnim 1s ease-in-out infinite;
}
.switcher.pause {
  background: url("../images/pause.png") no-repeat;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}
@keyframes scaleAnim {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}
.main {
  width: 640px;
  height: 1040px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.video-container {
  position: fixed;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-container .mask {
  position: fixed;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.video-container .video {
  width: 864px;
  height: 486px;
  background: #c0c0c0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin-left: -121.5px;
}
.video-container .video video {
  display: block;
  width: 864px;
  height: 486px;
}
.video-container .btn-close {
  width: 71px;
  height: 69.5px;
  background: url("../images/close.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: 2;
}
.video-container p {
  position: relative;
  z-index: 2;
  font-size: 24px;
  color: white;
  text-align: center;
  width: 100%;
}
.lock {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000 url("../images/lock.png") no-repeat center center;
  z-index: 999999;
}
@media screen and (orientation: portrait) {
  .lock {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .lock {
    display: block;
  }
}
.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}
.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}
.video-js .vjs-control {
  width: 3em;
}
.video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}
.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}
.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}
.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}
.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}
.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}
video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
  display: block;
}
.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em;
}
.video-js .vjs-big-play-button {
  background-color: null;
  font-size: 4.5em!important;
  border-radius: 10%;
  height: 1.6em !important;
  line-height: 1.6em !important;
  margin-top: -0.8em !important;
}
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background-color: null;
}
.video-js .vjs-loading-spinner {
  border-color: null;
}
.video-js .vjs-control-bar2 {
  background-color: #000000;
}
.video-js .vjs-control-bar {
  background-color: !important;
  color: null;
  font-size: 16px;
}
.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: null;
}
